# Môi trường ảo
venv/
env/
.env

# Thư mục cache của Python và Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/

# Bỏ qua dữ liệu thô quá nặng (Chỉ giữ lại dữ liệu sample hoặc config)
data/raw/
data/processed/
outputs/

# File cấu hình IDE
.vscode/
.idea/